# Python stuff
__pycache__/
*.py[codz]
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE stuff
.idea/
.vscode/
*.swp
*.swo
*.ipynb

# Logs and notes
*.log
TODO.txt
progress_logs.md

# Test files
main.py
#setup_automata.py

# Transition diagram tests
images/

# WIP
requirements.txt
