# Python stuff
__pycache__/
*.py[codz]
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE stuff
.idea/
.vscode/
*.swp
*.swo
*.ipynb

# Logs and notes
*.log
TODO.txt

# Test file
main.py



